//invacion de archivos

// Variables
@use "./utils/variables";
@use "./utils/mixins";

// Base
@use "./base/reset";
@use "./base/body";
@use "./base/tipografias";

// layaouts
@use "./layaouts/header";
@use "./layaouts/profile";
@use "./layaouts/wrap-highlights";
@use "./layaouts/posts";
@use "./layaouts/sidebar-mobile";

// components
@use "./components/botones";
@use "./components/submenu";