//Estilo base para el body
body {
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}