//Variables
@use "./../utils/variables" as var;
@use "./../utils/mixins" as mix;

// Estilos para la seccion de posts
.posts-section {
  @include mix.flex-column(center, center, 1rem);
  padding: 0.5rem;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  gap: 0.25rem;

  .post-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {
  .posts-section {
    @include mix.flex-column(center, center, 1rem);
    padding: 0.5rem;
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.25rem;

    .post-img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 992px) {
  .posts-section {
    @include mix.flex-column(center, center, 1rem);
    padding: 0.5rem;
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.25rem;

    .post-img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
